
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="row">
        <form asp-action="Index">
            <input type="text" name="SearchBy" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </form>
    </div>
    <button type="submit" class="btn btn-primary" id="btn-search">
        <i class="fas fa-search"></i>
    </button>

</div>

<div class="container-fluid">
    <div class="row">

        @foreach (var picture in Model)
        {
            <div class="col">
                <div class="item">
                    <div class="polaroid">
                        <img src="@picture.ImagePath">
                        <div class="caption">@picture.Caption</div>
                        <div class="text-muted">@picture.Email</div>
                    </div>
                </div>

            </div>
        }

    </div>
</div>




