@model PictureShare.Models.PictureModel

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid justify-content-center">
    <div class="row my-2">
        
        
        <div class="col-md-6 offset-3">
            <div class="polaroid polaroid-details">
                <img src="@Model.ImagePath">
                <div class="caption">@Model.Caption</div>
            </div>
        </div>

            <div class="row my-2">
                <div class="col-md-6 offset-3">
                    <form>
                        <input class="form-control" type="text" placeholder="Add comment here!" />
                        <button type="submit" class="btn btn-dark w-100 mt-2">Comment</button>
                    </form>
                </div>
            </div>


        </div>
    </div>

